@font-face {
  font-family: 'Klingon pIqaD HaSta';
  src: url('/fonts/Klingon-pIqaD-HaSta.ttf') format('truetype');
}

.korean {
  font-family: Constructium, Unifont CSUR, Klingon pIqaD HaSta, Code2000, Horta;
  font-size: 2rem;
}
